<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Core Tracks</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/css/helper.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Pony Express Elementary</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav" style="float:right">
            <!-- <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li> -->
            <li><a href="#">Sam Fonoimoana</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

<!--this is where the page wrapper starts-->
        <div id="page-wrapper">
            <!-- <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Dashboard</h3>
                </div>
            </div> -->

            <!-- /.1st row - assessment score stacked bars -->
            <div class="row">
                <div class="col-lg-2">
                    <h2 class="page-header">Standard</h2>
                </div>
                <div class="col-lg-8">
                    <h2 class="page-header">Assessments Given</h2>
                </div>
                <div class="col-lg-2">
                    <h2 class="page-header" style="text-align:center">Strength</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    <ul class="nav nav-pills nav-stacked">
                      <li class="inactive">
                        <a href="/" class="ttip" data-toggle="tooltip" data-placement="top" title="Count To 100 By Ones & By Tens">
                          <h4 style="margin-top:0px">K.CC.1</h4>
                        </a>
                      </li>
                    </ul>

                </div>
                <div class="col-lg-8">
                    <div class="col-lg-10">
                        <svg height="30" width="30"><circle cx="15" cy="15" r="15" fill="#4F94CD"/></svg>
                        <svg height="30" width="30"><circle cx="15" cy="15" r="15" fill="#9ACD32"/></svg>
                        <svg height="30" width="30"><circle cx="15" cy="15" r="15" fill="#698B22"/></svg>
                        <svg height="30" width="30"><circle cx="15" cy="15" r="15" fill="#9ACD32"/></svg>
                        <svg height="30" width="30"><circle cx="15" cy="15" r="15" fill="#698B22"/></svg>
                        <svg height="30" width="30"><circle cx="15" cy="15" r="15" fill="#698B22"/></svg>
                    </div>
                </div>
                <div class="col-lg-2">
                     <h1 style="text-align:center;margin-top:0px"><svg height="30" width="30"><circle cx="15" cy="15" r="15" fill="#698B22"/></svg>&nbsp95%</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="inactive">
                            <a href="#" class="ttip" data-toggle="tooltip" data-placement="top" title="Count forward beginning from a given number within the known sequence (instead of having to begin at 1).">
                              <h4 style="margin-top:0px">K.CC.2</h4>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-10">
                    <div class="col-lg-10">
<!--                         <svg height="30" width="30"><circle cx="15" cy="15" r="15" fill="#698B22"/></svg>
                        <svg height="30" width="30"><circle cx="15" cy="15" r="15" fill="#4F94CD"/></svg> -->
                    </div>
                </div>
                <div class="col-lg-2">
                    <h1 style="text-align:center;margin-top:0px">-</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="inactive">
                            <a href="#" class="ttip" data-toggle="tooltip" data-placement="top" title="Write numbers from 0 to 20. Represent a number of objects with a written numeral 0–20 (with 0 representing a count of no objects).">
                              <h4 style="margin-top:0px">K.CC.3</h4>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8">
                    <div class="col-lg-10">
<!--                         <svg height="30" width="30"><circle cx="15" cy="15" r="15" fill="#698B22"/></svg>
                        <svg height="30" width="30"><circle cx="15" cy="15" r="15" fill="#4F94CD"/></svg> -->
                    </div>
                </div>
                <div class="col-lg-2">
                    <h1 style="text-align:center;margin-top:0px">-</h1>
                </div>
            </div>
            <div class="row">
                <a href="/domain/cluster"><button type="button" class="btn btn-default btn-lg" style="background-color:steelblue;color:white">Back</button></a>
            </div>

        </div>
        <!-- /#page-wrapper -->

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
